button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-yellow-0);
  border-radius: 0.25rem;
  font-family: var(--type-primary);
  font-weight: 700;
  cursor: pointer;
  min-width: 6rem;
}

button:hover {
  background: linear-gradient(45deg, var(--color-yellow-1), var(--color-yellow-0));
}