@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--color-black-2);
  min-height: 100vh;
  min-width: 100vw;
}

html, body {
  max-width: 100%;
  --type-primary: 'Nunito', 'Arial', 'sans-serif';
  --type-secondary: 'Roboto', 'Georgia';
  --color-black-0: #000;
  --color-black-1: #111;
  --color-black-2: #202020;
  --color-black-3: #333533;
  --color-white-0: #FFF;
  --color-white-1: #D6D6D6;
  --color-yellow-0: #FFD100;
  --color-yellow-1: #FFEE32;
}

h1, h2, h3 {
  color: var(--color-white-0);
  font-family: var(--type-primary);
}

p, span {
  color: var(--color-black-0);
  font-family: var(--type-secondary);
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
}

label {
  color: var(--color-white-0);
  font-family: var(--type-primary);
  font-size: 1.25rem;
  font-weight: 700;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-yellow-1);
  color: var(--color-white-1);
  display: flex;
  outline: none;
  padding: 0.75rem 0;
  transition: all ease 0.1s;
  width: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}


input:focus {
  background-color: var(--color-black-1);
}

a {
  color: var(--color-white-0);
}

p {
  color: var(--color-white-0);
}

.page {
  align-items: center;
  background: linear-gradient(60deg, var(--color-black-0), var(--color-black-2));
  display: flex;
  height: fit-content;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
}

.title {
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sub {
  text-align: center;
}